#markdown-toc > ul {
  list-style: decimal;
  padding-left: 1.25rem;
}

#markdown-toc > ul > li {
  margin-bottom: 0.4rem;
}

#markdown-toc > ul > li > ul {
  list-style: disc;
  margin-top: 0.35rem;
  margin-bottom: 0.5rem;
  padding-left: 1.25rem;
}

#markdown-toc > ul > li > ul > li > ul {
  list-style: circle;
  margin-top: 0.25rem;
  padding-left: 1.25rem;
}
